{% extends "layout.njk" %}

{% block content %}

    <table class="table table-striped mt-5 mx-auto text-left" style="width: 900px;">
      <thead>
        <tr class="bg-dark text-white">
          <th scope="col">Catégories</th>
        </tr>
      </thead>
      <tbody>
        {% for element in categories %}
        <tr class="text-primary" style="text-decoration:none;">
          <td><a href="./product/{{element.id}}">{{element.label}}<a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
{% endblock %}
